*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgba(165, 92, 113, 0.543);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    
}
#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(0, 217, 255);
    background-image: url(./ayo-ogunseinde-6W4F62sN_yI-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color:rgba(99, 85, 89, 0.361);
}
#part3{
    height: 100%;
    width: 7%;
    
}
#text-div{
    /* height: 300px; */
    position: absolute;
    width: 400px;
    /* background-color: red; */
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
}
#text-div>h1{
    font-size: 95px;
    font-family: monument;
    font-weight: 800;
    letter-spacing: 8;
    line-height: 78px;
    text-transform: uppercase;
    color: white;
}
#small-img-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(./photo-1529680459049-bf0340fa0755.avif);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0,-50%);
}
#vertical-text{
    position: absolute;
    /* width: 100%; */
    /* background-color: red; */
    text-transform: uppercase;
    transform-origin: 0% 0%;
    top: -7%;
    right: -67%;
    transform: rotate(90deg);
}
#vertical-text h1{
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 10px;
    /* transform-origin: 0,0; */
    font-family: monument;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    left: 7%;
    top: 5%;
    /* background-color: red; */
}
#nav img{
    height: 60px;
}
#nav h5{
    font-size: 20px;
    color: #fff;
    font-family: gilroy;
}