*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: img-anim;
    animation-duration: 2s;
    
}
@keyframes img-anim {
    0%{
        margin-top: 50px;
    }
    25%{
        margin-left: 50px;
    }
    100%{
        margin-right: -50px;
        margin-top: -50px;
    }
}
#main img{
    height: 500px;
    width: 330px;
    position: relative;
    z-index: 99;
    object-fit: cover;
}
#scroll-div{
    position: absolute;
    top: 24%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div h1{
    display: inline-block;
    font-size: 160px;
    font-family: mmonument;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll-div::-webkit-scrollbar{
    display: none;
}
#scroll-div2{
    position: absolute;
    top: 44%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 100;
}
#scroll-div2 h1{
    display: inline-block;
    font-size: 160px;
    font-family: mmonument;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 3px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation-name: scroll;
    animation-duration: 1s; /* Adjust duration as needed */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#scroll-div2::-webkit-scrollbar{
    display: none;
}
#scroll-div3{
    position: absolute;
    top: 64%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll-div3 h1 {
    display: inline-block;
    font-size: 160px;
    font-family: mmonument;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: scroll;
    animation-duration: 1s; /* Adjust duration as needed */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll-div3::-webkit-scrollbar{
    display: none;
}
#text-div{
    font-size: 30px;
    position: absolute;
    font-family: monument;
    width: 60%;
    /* background-color: red; */
    z-index: 999;
    text-align: center;
    top: 16% ;
    text-transform: uppercase;
}




@keyframes scroll {
    0% {
        transform: translateX(-100%);

    }
    100% {
        
        transform: translateX(0);
    }
}